:root {
    /* --primary: #2596be; */
    --primary: rgb(142, 161, 245);
    --secondary: #000000;
    --cont_color: #ffffffa3;
    /* --secondary: #ffffff; */
}

body {
    /* background-image: url("/bg.jpg"); */
<<<<<<< HEAD
    /* background-image: linear-gradient(var(--primary), rgb(235, 235, 235)); */
    background-image: url(http://localhost/php_/College_project/assets/bg.jpg);
=======
    background-image: linear-gradient(rgb(0, 183, 255), rgb(235, 235, 235));
>>>>>>> 6e1bf87e1cded7cb020fa69313c0881efd4e6e7b
    background-attachment: fixed;
    /* Used if the image is unavailable */
    height: 100vh;
    /* You must set a specified height */
    background-position: center;
    /* Center the image */
    background-repeat: no-repeat;
    /* Do not repeat the image */
    background-size: cover;
    font-family: "Gill Sans", "Gill Sans MT", "Calibri", "Trebuchet MS", sans-serif;
}


/* This is for varibles */


/*-------------------------- Variables ends here------------------- */

html {
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
    color: var(--secondary);
}


/* --------------------------------------------------- Basic classes styling starts here -------------------------------------- */

.btn {
    cursor: pointer;
    border-radius: 25px;
    border: 1px gray solid;
    color: var(--secondary);
    box-shadow: 0px 0px 4px rgb(71, 71, 71);
}

.btn:hover {
    transition: 300ms;
    box-shadow: 0px 0px 10px rgb(37, 37, 37);
    /* font-weight: bolder; */
}

input {
    background-color: rgba(255, 255, 255, 0);
}


/* --------------------------------------------------- Navigation styling starts here -------------------------------------- */

nav {
    position: sticky;
    top: -1px;
    margin-bottom: 80px;
}

nav ul {
    list-style-type: none;
    height: 45px;
    padding: 17px 16px 0px 10px;
    /* background-color: var(--primary); */
    background-color: #ffffff;
    margin: -9px;
    /* color: var(--secondary); */
    color: rgb(110, 137, 255);
    font: 20px italic;
    box-shadow: 0px 0px 10px rgb(148, 148, 148);
}

nav img {
    position: absolute;
    left: 10px;
    margin-top: -10px;
    height: 50px;
    width: 50px;
}

nav ul li {
    color: var(--primary);
    position: relative;
    left: 600px;
    font: 20px sans-serif;
    font-weight: bold;
    float: left;
    margin: 0px 15px 0px 15px;
    text-shadow: 0px 0px 2px rgb(148, 148, 148);
}

nav ul a {
    color: rgb(40, 79, 255);
}

nav ul li:hover {
    cursor: pointer;
    transition: 200ms;
    color: rgb(142, 161, 245);
}


/* --------------------------------------------------- Navigation styling ends here -------------------------------------- */


/* --------------------------------------------------- Container Styling starts here -------------------------------------- */

#loginForm {
    width: 40vw;
    margin: auto;
    height: 480px;
    background-color: var(--cont_color);
    border-radius: 10px;
    box-shadow: 0px 0px 44px rgb(37, 37, 37);
}

#loginForm div {
    color: var(--primary);
    font-size: 40px;
}

#loginForm input {
    width: 80%;
    height: 50px;
    margin: 2%;
    font-size: 15px;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 2px solid var(--primary);
    outline: none;
}

#loginForm input:focus {
    font-size: 25px;
    transition: 300ms;
}

#loginForm #btn {
    color: white;
    font-size: 20px;
    border-radius: 20px;
    background-color: var(--primary);
    padding: 6px 8px;
    width: 30%;
}

#loginForm #btn:hover {
    cursor: pointer;
    box-shadow: 0px 0px 4px rgb(37, 37, 37);
    transition: 300ms;
}